
/*Tablazat fejlec*/
.HonapValaszto {
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}

.honap {
    padding-left: 10px;
    padding-right: 10px;
}

.iconNyil {
    cursor: pointer;
}

.napokSzama {
    display: inline-block;
    width: 20px;
    padding-right: 3px;
    text-align: center;
}

.Fejlec {
    margin-left: 130px;
}

/******************/

/*Jel magyarázat*/
.Jelmagyarazat {
    padding-top:20px;
}

.jelSzin {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
}

.jelNev {
    display: inline-block;
}

.JelmagyarazatCim {
    font-weight: bold;
}
/*****************/

/*Tablazat elemei nem kijelolhetoek*/
.AttekintoTablazat {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 990px;
    min-width:990px;
}
/*****************/

/*Tablazat "kocka" elem*/
.kockak {
    height: 20px;
    width: 20px;
    display: inline-block;
    padding-right: 3px;
    border: 1px solid gray;
    text-align: center;
    font-weight: bold;
}

    .kockak:hover {
        border: 1px solid black;
    }

/*****************/


.Felhasznalok {
    display: inline-block;
    width:125px;
}

.nev {
    display: inline-block;
}

.rang {
    display: inline-block;
    color:red;
}

.lenyilo {
    color:darkblue;
}
