body {
}

.ujLabel{
    font-weight:bold;
    text-align:right;
    padding-right:25px;
    padding-top:5px;
}

.ujControl{
    max-width:280px;
}

.UjControlPos{
    padding-left:5px;
}

.ujAdatokPos{
    padding-left:5px;
    padding-top:10px;
}

.profilKep{
    width:280px;
    height:150px;
}

.KepLabel{
    padding-top:50px;
}

.KepControl{
    padding-top:5px;
}